<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Rentia</title>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="assets/fonts/flaticon.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="assets/css/boxicons.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="assets/css/nice-select.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <!-- Jquery Ui CSS -->
    <link rel="stylesheet" href="assets/css/jquery-ui.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- Theme Dark CSS -->
    <link rel="stylesheet" href="assets/css/theme-dark.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/img/favicon.webp">
    <!-- Process Form -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<body id="page">
<!-- Top Header Start -->
<header class="top-header top-header-bg">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-2 pr-0 col-6">
                <div class="header-right add_header_number">
                    <ul>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <a href="tel:9319144228">9319144228</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-6">
                <div class="header-right">
                    <ul>
                        <li class="none_for_mobile">
                            <i class='bx bx-home-alt'></i>
                            <a href="#">House no.Q20, Q1 block South City 2 gurugram harayana</a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="mailto:info@rentia.com">info@rentia.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Top Header End -->
<!-- Start Navbar Area -->
<div class="navbar-area">
    <!-- Menu For Mobile Device -->
    <div class="mobile-nav">
        <a href="index.html" class="logo">
            <img src="assets/images/rentia-logo.webp" style="border-radius:5px;" alt="Images">
        </a>
    </div>
    <!-- Menu For Desktop Device -->
    <div class="main-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand rentia_logo" href="index.php">
                    <img src="assets/images/rentia-logo.webp" style="border-radius:5px;" alt="Images">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                About
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                           <a href="#" class="nav-link">
                               Services
                               <i class='bx bx-chevron-down'></i>
                           </a>
                           <ul class="dropdown-menu">
                               <li class="nav-item">
                                   <a href="category.php" class="nav-link">
                                       Services Style One
                                   </a>
                               </li>
                               <li class="nav-item">
                                   <a href="#" class="nav-link">
                                       Services Style Two
                                   </a>
                               </li>
                               <li class="nav-item">
                                   <a href="#" class="nav-link">
                                       Service Details
                                   </a>
                               </li>
                           </ul>
                           </li> -->
                        <li class="nav-item">
                            <a href="blogs.html" class="nav-link">
                                Blogs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                List Property
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Delhi
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Mumbai
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Hyderabad
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Bangalore
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item-btn">
                            <a href="#" class="default-btn btn-bg-one border-radius-5">Book Now</a>
                        </li>
                    </ul>
                   <!-- <div class="nav-btn">
                        <a href="#" class="default-btn btn-bg-one border-radius-5">Book Now</a>
                    </div>-->
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->
<div class="cl"></div>
<!-- Inner Banner -->
<div class="inner-banner inner-bg4">
    <div class="container">
        <div class="inner-title">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Blog Details</li>
            </ul>
            <h3>Blog Details</h3>
        </div>
    </div>
</div>
<!-- Inner Banner End -->
<div class="main-wrapper">
    <!-- Blog Details Area -->
    <div class="blog-details-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-16">
                    <div class="blog-article">
                        <div class="blog-article-img">
                            <img src="assets/img/blog/blog-details-img1.jpg" alt="Images">
                        </div>
                        <div class="blog-article-title">
                            <h2>Hotel Management is the Best Issue in the Global Market</h2>
                            <ul>
                                <li>
                                    <i class='bx bx-user'></i>
                                    By Mark Angular
                                </li>
                                <li>
                                    <i class='bx bx-calendar'></i>
                                    October 14, 2020
                                </li>
                            </ul>
                        </div>
                        <div class="article-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                            </p>
                            <p>
                                Ecespiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                                ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quci velit modi tempora incidunt
                                ut labore et dolore magnam aliquam quaerat .
                            </p>
                            <blockquote class="blockquote">
                                <p>
                                    Awesome dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitationaco laboris nisi ut aliquip commodo consequat.
                                </p>
                            </blockquote>
                        </div>
                        <div class="another-content">
                            <div class="content-img">
                                <img src="assets/img/blog/blog-details-img2.jpg" alt="Images">
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu eros sed tellus fringilla molestie vitae quis mauris.
                                Nunc fringilla nisi dui. Maecenas ornare et neque vel convallis. Pellentesque eu finibus augue. Proin quis gravida mauris.
                                Donec ullamcorper varius egestas. Suspendisse ante massa, posuere a ipsum eu, lacinia tincidunt neque. Pellentesque habitant
                                morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur laoreet in odio in placerat.
                            </p>
                            <p>
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur, adipisci velit
                            </p>
                        </div>
                        <!-- <div class="comments-wrap">
                            <h3 class="title">Comments</h3>
                            <ul>
                                <li>
                                    <img src="assets/img/blog/blog-profile1.jpg" alt="Image">
                                    <h3>Megan Fox</h3>
                                    <span>October 14, 2020, 12:10 PM</span>
                                    <p>
                                        Engineering requires many building blocks and tools. To produce real world
                                        results & one must  mathematics and sciences to tangible problems and we
                                        are one of the  best company in the world.
                                    </p>
                                    <a href="#"> Reply</a>
                                </li>
                                <li>
                                    <img src="assets/img/blog/blog-profile2.jpg" alt="Image">
                                    <h3>Mike Thomas</h3>
                                    <span>October 14, 2020, 11:30 AM</span>
                                    <p>
                                        Engineering requires many building blocks and tools. To produce real world
                                        results & one must  mathematics and sciences to tangible problems and we
                                        are one of the  best company in the world.
                                    </p>
                                    <a href="#"> Reply</a>
                                </li>
                            </ul>
                        </div> -->
                        <!-- <div class="comments-form">
                            <div class="contact-form">
                                <h2>Leave A Comment</h2>
                                <form id="contactForm">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Your Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Your Email">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" name="websit" class="form-control" required data-error="Your website" placeholder="Your website">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="8" required data-error="Write your message" placeholder="Your Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group checkbox-option">
                                                <input type="checkbox" id="chb2">
                                                <p>
                                                    Save my name, email, and website in this browser for the next time I comment.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <button style="border: 1px solid; pointer-events: all; cursor: pointer;" type="submit" class="default-btn btn-bg-one disabled">
                                                Post A Comment
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!--  <div class="col-lg-4">
                     <div class="side-bar-wrap">
                         <div class="search-widget">
                             <form class="search-form">
                                 <input type="search" class="form-control" placeholder="Search...">
                                 <button type="submit">
                                     <i class="bx bx-search"></i>
                                 </button>
                             </form>
                         </div>
                         <div class="side-bar-widget">
                             <h3 class="title">Recent Posts</h3>
                             <div class="widget-popular-post">
                                 <article class="item">
                                     <a href="blog-details.html" class="thumb">
                                         <span class="full-image cover bg1" role="img"></span>
                                     </a>
                                     <div class="info">
                                         <h4 class="title-text">
                                             <a href="blog-details.html">
                                                 Hotel Room Reservation is a Common Fact Now
                                             </a>
                                         </h4>
                                         <ul>
                                             <li>
                                                 <i class='bx bx-user'></i>
                                                 29K
                                             </li>
                                             <li>
                                                 <i class='bx bx-message-square-detail'></i>
                                                 15K
                                             </li>
                                         </ul>
                                     </div>
                                 </article>
                                 <article class="item">
                                     <a href="blog-details.html" class="thumb">
                                         <span class="full-image cover bg2" role="img"></span>
                                     </a>
                                     <div class="info">
                                         <h4 class="title-text">
                                             <a href="blog-details.html">
                                                 We Can Easily Make a Good Hotel Management
                                             </a>
                                         </h4>
                                         <ul>
                                             <li>
                                                 <i class='bx bx-user'></i>
                                                 49K
                                             </li>
                                             <li>
                                                 <i class='bx bx-message-square-detail'></i>
                                                 17K
                                             </li>
                                         </ul>
                                     </div>
                                 </article>
                                 <article class="item">
                                     <a href="news-details.html" class="thumb">
                                         <span class="full-image cover bg3" role="img"></span>
                                     </a>
                                     <div class="info">
                                         <h4 class="title-text">
                                             <a href="news-details.html">
                                                 Hotel Management Has Made a New Goal
                                             </a>
                                         </h4>
                                         <ul>
                                             <li>
                                                 <i class='bx bx-user'></i>
                                                 69K
                                             </li>
                                             <li>
                                                 <i class='bx bx-message-square-detail'></i>
                                                 52K
                                             </li>
                                         </ul>
                                     </div>
                                 </article>
                             </div>
                         </div>
                         <div class="side-bar-widget">
                             <h3 class="title">Tags</h3>
                             <ul class="side-bar-widget-tag">
                                 <li><a href="#">Hotel</a></li>
                                 <li><a href="#">Booking</a></li>
                                 <li><a href="#">Luxury</a></li>
                                 <li><a href="#">Beach</a></li>
                                 <li><a href="#">Resorts</a></li>
                                 <li><a href="#">Room</a></li>
                                 <li><a href="#">Single</a></li>
                                 <li><a href="#">Family</a></li>
                                 <li><a href="#">Sea View</a></li>
                             </ul>
                         </div>
                     </div>
                 </div> -->
            </div>
        </div>
    </div>
    <!-- Blog Details Area End -->
</div>
<!-- Workspace solutions End -->
</div>
<!-- Footer Area -->
<footer class="footer-area footer-bg">
    <div class="container">
        <div class="footer-top pt-100 pb-70">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="\">
                                <img src="assets/images/rentia-logo.webp" style="border-radius:5px;" alt="Images">
                            </a>
                        </div>
                        <p>
                            Rentia is a platform that aims to make co-living accessible and convenient for everyone. The platform connects tenants with the best co-living brands in Gurugram, providing them with detailed information about different brands and their properties. This makes it easier for tenants to find a room that fits their budget and needs.
                        </p>
                        <ul class="footer-list-contact">
                            <li>
                                <i class='bx bx-home-alt'></i>
                                <a href="#">House no.Q20, Q1 Block, South City 2, Gurugram, Haryana</a>
                            </li>
                            <li>
                                <i class='bx bx-phone-call'></i>
                                <a href="tel:9319144228">+91-9319144228</a>
                            </li>
                            <li>
                                <i class='bx bx-envelope'></i>
                                <a href="mailto:info@rentia.in">info@rentia.in</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget pl-5">
                        <h3>Links</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="/about" target="_blank">
                                    <i class='bx bx-caret-right'></i>
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="/#what-you-get" target="_blank">
                                    <i class='bx bx-caret-right'></i>
                                    Services
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bx-caret-right'></i>
                                    Team
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bx-caret-right'></i>
                                    Gallery
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bx-caret-right'></i>
                                    Terms
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bx-caret-right'></i>
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3>Useful Links</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="\" target="_blank">
                                    <i class='bx bx-caret-right'></i>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="blogs.html" target="_blank">
                                    <i class='bx bx-caret-right'></i>
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bx-caret-right'></i>
                                    FAQ
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bx-caret-right'></i>
                                    Testimonials
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bx-caret-right'></i>
                                    Gallery
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bx-caret-right'></i>
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3>Newsletter</h3>
                        <p>
                            Subscribe to our newsletter to stay updated!
                        </p>
                        <div class="footer-form">
                            <form class="newsletter-form" data-toggle="validator" method="POST">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email*" name="EMAIL" required autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <button style="border: 1px solid;" type="submit" class="default-btn btn-bg-one">
                                            Subscribe Now
                                        </button>
                                        <div id="validator-newsletter" class="form-result"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right-area">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="copy-right-text text-align1">
                        <p>
                            Copyright @<script>document.write(new Date().getFullYear())</script> Rentia All Rights Reserved
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="social-icon text-align2">
                        <ul class="social-link">
                            <li>
                                <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->
<script src="assets/js/process-form.js"></script>
<!-- Home Page Product Tabs Start
   --------------------------------------------------------------------------------------------------->
<script src="assets/js/main.js"></script>
<script src="assets/js/jquery.min.js"></script>
<!-- Bootstrap Bundle Min JS -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<!-- Magnific Popup Min JS -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Nice Select Min JS -->
<script src="assets/js/jquery.nice-select.min.js"></script>
<!-- Wow Min JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Jquery Ui JS -->
<script src="assets/js/jquery-ui.js"></script>
<!-- Meanmenu JS -->
<script src="assets/js/meanmenu.js"></script>
<!-- Ajaxchimp Min JS -->
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator Min JS -->
<script src="assets/js/form-validator.min.js"></script>
<!-- Contact Form JS -->
<script src="assets/js/contact-form-script.js"></script>
<!-- Custom JS -->
<script src="assets/js/custom.js"></script>
<!-- Home Page Product Tabs End
   --------------------------------------------------------------------------------------------------->
</body>
</html>