<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<title>Rentia</title>	
<!-- Required Meta Tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
      <!-- Animate Min CSS --
      <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}"/>
      <!-- Flaticon CSS -->
      <link rel="stylesheet" th:href="@{/assets/fonts/flaticon.css}"/>
      <!-- Boxicons CSS -->
      <link rel="stylesheet" th:href="@{/assets/css/boxicons.min.css}"/>
      <!-- Magnific Popup CSS -->
      <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}"/>
      <!-- Owl Carousel Min CSS -->
      <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"/>
      <link rel="stylesheet" th:href="@{/assets/css/owl.theme.default.min.css}"/>
      <!-- Meanmenu CSS -->
      <link rel="stylesheet" th:href="@{/assets/css/meanmenu.css}"/>
      <!-- Jquery Ui CSS -->
      <link rel="stylesheet" th:href="@{/assets/css/jquery-ui.css}"/>
      <!-- Nice Select Min CSS -->
      <link rel="stylesheet" th:href="@{/assets/css/nice-select.min.css}"/>
      <!-- Responsive CSS -->
      <link rel="stylesheet" th:href="@{/assets/css/responsive.css}"/>
      <!-- Theme Dark CSS -->
      <link rel="stylesheet" th:href="@{/assets/css/theme-dark.css}"/>
      <!-- Style CSS -->
      <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
      <!-- Favicon -->
      <link rel="icon" type="image/png" th:href="@{assets/img/favicon.webp}"/>
      <!-- Process Form -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
      
</head>
<body id="page">
  <!-- Top Header Start -->
  <header class="top-header top-header-bg">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!--<div class="col-lg-2 col-md-2 pr-0 col-6">
                <div class="header-right add_header_number">
                <ul>
                     <li>
                        <i class='bx bx-phone-call'></i>
                        <a href="tel:9319144228">+91-9319144228</a>
                    </li>
                </ul>
                </div>
            </div>-->

            <div class="col-lg-10 col-md-10 col-6">
                <div class="header-right">
                    <ul>
                       <!-- <li class="none_for_mobile">
                            <i class='bx bx-home-alt'></i>
                            <a href="#">123 Virgil A Stanton, Virginia, USA</a>
                        </li>-->
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="mailto:info@rentia.com">info@rentia.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Top Header End -->

<!-- Start Navbar Area -->
<div class="navbar-area">
    <!-- Menu For Mobile Device -->
    <div class="mobile-nav">
        <a href="\" class="logo">
            <img src="assets/images/rentia-logo.webp" style="border-radius:5px;" alt="Images">
        </a> 
    </div>

    <!-- Menu For Desktop Device -->
    <div class="main-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand rentia_logo" href="\">
                    <img src="" th:src="@{/assets/images/rentia-logo.webp}" style="border-radius:5px;" alt="Images">
                </a> 

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                Home
                            </a>
                            
                        </li>


                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                About
                            </a>
                        </li>
                        

                        <!-- <li class="nav-item">
                            <a href="#" class="nav-link">
                                Services 
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="category.php" class="nav-link">
                                        Services Style One 
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Services Style Two 
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Service Details 
                                    </a>
                                </li>
                            </ul>
                        </li> -->

                        <li class="nav-item">
                            <a href="blogs.html" class="nav-link">
                                Blogs
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                List Property
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Delhi
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Mumbai
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Hyderabad
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Bangalore
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!--<li class="nav-item-btn">
                            <a href="#" class="default-btn btn-bg-one border-radius-5">Book Now</a>
                        </li>-->
                    </ul>

                    <!--<div class="nav-btn">
                        <a href="#" class="default-btn btn-bg-one border-radius-5">Book Now</a>
                    </div>-->
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->


<div class="cl"></div>


        
<div class="main-wrapper">


        <!-- Office filter Area -->
        <div class="office_filter_shop">
            <div class="container-fluid">
                <div class="row pt-45">
                    <div class="col-lg-6">
                        <h3>Coliving Spaces in Delhi</h3>
                   </div>

                   <div class="col-lg-6 design_breadcrumb">
                    <ul><li><a href="/">Home</a></li><li><a href="/">Coliving</a></li><li class="breadcrumb_active" aria-current="page">Roseate House</li></ul>
                   </div>

                </div>
            </div>
        </div>
        <!-- Office filter End -->




        <!-- Workspace solutions -->
        <div class="room-area pb-70 workspace_solutions out_open_category for_arrow">
            <div class="container-fluid">
                <div class="section-title text-center">
                                      
                </div>
                <div class="row pt-45">

                    <div class="col-lg-12">
                        <div class="room-card-two">
                            <div class="row align-items-center">
                                <div class="office_detail_slider owl-carousel owl-theme">
                                 <div th:each="image : ${property.propertyImages}" class = "item">
                                    <img th:src="@{/api/a1/property/post/image/{displayImage}(displayImage=${image})}" alt="Images">
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                    <div class="container both_detail">
                            <div class="row align-items-center">
                                <div class="col-lg-8 col-md-8 left_detail_post">
                                    <div class="room-card-content design_address">
                                        <ul>
                              <li>Starting Price<br> <b><span th:text="${property.price}"></span></b> / month</li>
                                        </ul>

                                        <div>
                                            <a><svg width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 12q.825 0 1.413-.588T14 10q0-.825-.588-1.413T12 8q-.825 0-1.413.588T10 10q0 .825.588 1.413T12 12Zm0 7.35q3.05-2.8 4.525-5.088T18 10.2q0-2.725-1.738-4.462T12 4Q9.475 4 7.737 5.738T6 10.2q0 1.775 1.475 4.063T12 19.35ZM12 22q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2q3.175 0 5.588 2.225T20 10.2q0 2.5-1.988 5.438T12 22Zm0-11.8Z"/></svg> <span th:text="${property.address.city}"></span></a>
                                            
                                            <a><svg width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9.025 15.175q.625-.45 1.388-.7t1.587-.25q.825 0 1.588.25t1.387.7L21.1 9.05q-1.95-1.475-4.263-2.263T12 6q-2.525 0-4.838.788T2.9 9.05l6.125 6.125Zm2.975 5.4q-.2 0-.375-.062T11.3 20.3L.7 9.7q-.3-.3-.288-.712T.725 8.3q2.35-2.125 5.238-3.213T12 4q3.175 0 6.063 1.088T23.274 8.3q.3.275.313.688T23.3 9.7L12.7 20.3q-.15.15-.325.213t-.375.062Z"/></svg> High speed WiFi</a>
                                            
                                            <a><svg width="24" height="24" viewBox="0 0 1024 1024"><path fill="currentColor" d="M275 281c19.9 0 36-16.1 36-36V36c0-19.9-16.1-36-36-36s-36 16.1-36 36v209c0 19.9 16.1 36 36 36zm613 144H768c0-39.8-32.2-72-72-72H200c-39.8 0-72 32.2-72 72v248c0 3.4.2 6.7.7 9.9c-.5 7-.7 14-.7 21.1c0 176.7 143.3 320 320 320c160.1 0 292.7-117.5 316.3-271H888c39.8 0 72-32.2 72-72V497c0-39.8-32.2-72-72-72zM696 681h-1.1c.7 7.6 1.1 15.2 1.1 23c0 137-111 248-248 248S200 841 200 704c0-7.8.4-15.4 1.1-23H200V425h496v256zm192-8H776V497h112v176zM613 281c19.9 0 36-16.1 36-36V36c0-19.9-16.1-36-36-36s-36 16.1-36 36v209c0 19.9 16.1 36 36 36zm-170 0c19.9 0 36-16.1 36-36V36c0-19.9-16.1-36-36-36s-36 16.1-36 36v209c0 19.9 16.1 36 36 36z"/></svg> Cofee & Bar</a>

                                        </div>
                                    </div>

                                    <hr>
                        <p th:text="${property.detail}"></p>
                                    <br>

                                    <hr>

                                    <!--div class="working_days"><div>Mon - Fri : 10:00 AM to 07:00 PM</div><div>Sat : 10:00 AM to 07:00 PM</div><div>Sun : Closed</div></div-->


                                    <hr>


                                         <div class="dedicated_desk">
                                            <div class="main_price_box">
                                            <div class="img"><img src="" th:src="@{/assets/images/private-cabin.webp}" alt="Images"></div>
                                            <div>
                                                <h5 class="text-capitalize">Double Sharing</h5>
                                                <p class="hideOnMobile tabhide">It is the Basic plan include only residences.</p>
                                                <div class="action-box ng-star-inserted"></div>
                                            </div>

                                            <div class="right_slids">
                                                <div class="price"><span class="hideOnMobile tabhide">starting from</span><div class="ng-star-inserted"> <span th:text="${property.propertyFacility.doubleSharingPrice}"></span><small><span>/month</span></small></div></div>

                                                <!--<button class="btn-link hideOnMobile tabhide" type="button">Enquire<small class="icon-next fas fa-angle-right" aria-hidden="true"></small></button>--></div>
                                            </div>

                                            <div class="main_price_box">
                                            <div class="img"><img src="" th:src="@{/assets/images/dedicated-desk.webp}" alt="Images"></div>
                                            <div>
                                                <h5 class="text-capitalize">Private Room</h5>
                                                <p class="hideOnMobile tabhide">It is the Basic plan include only residences.</p>
                                                <div class="action-box ng-star-inserted"></div>
                                            </div>

                                            <div class="right_slids">
                                                <div class="price"><span class="hideOnMobile tabhide">starting from</span><div class="ng-star-inserted"><span th:text="${property.propertyFacility.singleSharingPrice}"></span><small><span>/month</span></small></div></div>

                                                <!--<button class="btn-link hideOnMobile tabhide" type="button">Enquire<small class="icon-next fas fa-angle-right" aria-hidden="true"></small></button>-->
                                            </div>
                                            </div>

                                        </div>



                                    <div class="amenities_design">
                                        <h5 class="ng-tns-c6-1">Amenities</h5>
                                        <ul>
                                            <li><img src="" th:src="@{/assets/images/icons/wifi.svg}" alt="Images"> WIFI/Internet</li>
                                            <li><img src="" th:src="@{/assets/images/icons/air-conditioning.svg}" alt="Images"> Air Conditioning</li>
                                            <li><img src="" th:src="@{/assets/images/icons/round-table.svg}" alt="Images"> Meeting Rooms</li>
                                            <li><img src="" th:src="@{/assets/images/icons/printer.svg}" alt="Images"> Printer</li>
                                            <li><img src="" th:src="@{/assets/images/icons/pantry.svg}" alt="Images"> Pantry</li>
                                            <li><img src="" th:src="@{/assets/images/icons/parking.svg}" alt="Images"> Car / Bike Parking</li>
                                            <li><img src="" th:src="@{/assets/images/icons/reception.svg}" alt="Images"> Reception</li>
                                            <li><img src="" th:src="@{/assets/images/icons/cleaning-tools.svg}" alt="Images"> Super Housekeeping</li>
                                            <li><img src="" th:src="@{/assets/images/icons/coffee-machine.svg}" alt="Images"> Tea/Coffee</li>
                                        </ul>
                                    </div>



                                    <div class="design_map">
                                        <h5 class="ng-tns-c6-1">You'll work here</h5>
                                        <div><svg width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 12q.825 0 1.413-.588T14 10q0-.825-.588-1.413T12 8q-.825 0-1.413.588T10 10q0 .825.588 1.413T12 12Zm0 7.35q3.05-2.8 4.525-5.088T18 10.2q0-2.725-1.738-4.462T12 4Q9.475 4 7.737 5.738T6 10.2q0 1.775 1.475 4.063T12 19.35ZM12 22q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2q3.175 0 5.588 2.225T20 10.2q0 2.5-1.988 5.438T12 22Zm0-11.8Z"></path></svg> <span th:text="${property.address.city}"></span></div>

                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448196.05311984906!2d76.81304084547108!3d28.643795378541427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1683574879867!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>


                                    </div>



                         <div class="col-lg-4 col-md-4 right_detail_design">
                                    <div class="room-card-content">
                                        

                                        <div class="contact-form">
                                            <h4>Yes, I'm Interested!</h4>
                                            <p>Know More About this property</p>
                                                <form id="contactForm" novalidate="true">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="text" name="name" id="name" class="form-control" required="" data-error="Please enter your name" placeholder="Name">
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                        </div>
                        
                                                        <div class="col-lg-12 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="email" name="email" id="email" class="form-control" required="" data-error="Please enter your email" placeholder="Email">
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                        </div>
                        
                                                        <div class="col-lg-12 col-sm-12">
                                                            <div class="form-group">
                                          <input type="text" name="mobNum" id="mobNum" required="" data-error="Please enter your number" class="form-control" placeholder="Phone">
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6 col-12">
                                                            <div class="form-group">
                                          <select id="pg_type" name="pg_type" style="display: none;">
                                             <option value="Type">Type</option>
                                             <option value="Private Room">Private Room</option>
                                             <option value="Double Sharing">Double Sharing</option>
                                             <option  value="Any Other">Any Other</option>
                                          </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6 col-12">
                                                            <div class="form-group">
                                          <select id="budget" name="budget" style="display: none;">
                                             <option value="Budget">Budget</option>
                                              <option value="5000-10000">5000-10000</option>
                                              <option value="10000-15000">10000-15000</option>
                                              <option  value="15000-20000">15000-20000</option>
                                              <option  value="20000-25000">20000-25000</option>
                                          </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 mt-40">
                                                            <div class="form-group checkbox-option">
                                                                <input type="checkbox" id="chb2">
                                                                <p>
                                                                    Accept <a href="terms-condition.html">Terms &amp; Conditions</a> And <a href="privacy-policy.html">Privacy Policy.</a>
                                                                </p>
                                                            </div>
                                                        </div>
                        
                                                        <div class="col-lg-12 col-md-12">
                                       <button type="submit" class="default-btn btn-bg-three disabled" style="pointer-events: all; cursor: pointer;">
                                                              Submit Detail
                                                             </button>
                                       <div id="success-message" class="success-message"></div>
                                       <div id="error-message" class="error-message"></div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                    </div>
        </div>
        <!-- Workspace solutions End -->
        <!-- Testimonials Area -->
        <div class="design_similar_properties pt-100 pb-70 out_category_design for_arrow">
            <div class="container">
                <div class="section-title">
                    <h3>Similar Properties</h3>
                </div>




                <div class="similar_properties_slider owl-carousel owl-theme">
                  <div class="item" th:each="property : ${propertyList}">
                     <div class="room-card-two">
                            <div class="row align-items-center">
                            <a th:href="@{/api/a1/property/getProperty/{prpName}(prpName=${property.prpName})}">
                                 <img th:src="@{/api/a1/property/post/image/{displayImage}(displayImage=${property.displayImage})}" alt="Images">
                                      </a>
                                <div class="col-lg-12 col-md-12 p-0">
                                    <div class="room-card-content">
                                         <h5><a href="room-details.html"><svg width="24" height="24" viewBox="0 0 256 256"><path fill="currentColor" d="M248 128a8 8 0 0 1-8 8h-16.67A48.08 48.08 0 0 1 176 176h-40v24h24a32 32 0 0 1 32 32a8 8 0 0 1-16 0a16 16 0 0 0-16-16h-24v16a8 8 0 0 1-16 0v-16H96a16 16 0 0 0-16 16a8 8 0 0 1-16 0a32 32 0 0 1 32-32h24v-24H80a48.08 48.08 0 0 1-47.33-40H16a8 8 0 0 1 0-16h24a8 8 0 0 1 8 8a32 32 0 0 0 32 32h96a32 32 0 0 0 32-32a8 8 0 0 1 8-8h24a8 8 0 0 1 8 8ZM67.91 138.48a16 16 0 0 1-3.75-12.74l13.72-96A16.08 16.08 0 0 1 93.72 16h68.56a16.08 16.08 0 0 1 15.84 13.74l13.72 96A16 16 0 0 1 176 144H80a16 16 0 0 1-12.09-5.52ZM80 128h96l-13.72-96H93.71Z"/></svg> <span th:text="${property.prpName}"></span></a></h5>
                                        
                                        <a><svg width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 12q.825 0 1.413-.588T14 10q0-.825-.588-1.413T12 8q-.825 0-1.413.588T10 10q0 .825.588 1.413T12 12Zm0 7.35q3.05-2.8 4.525-5.088T18 10.2q0-2.725-1.738-4.462T12 4Q9.475 4 7.737 5.738T6 10.2q0 1.775 1.475 4.063T12 19.35ZM12 22q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2q3.175 0 5.588 2.225T20 10.2q0 2.5-1.988 5.438T12 22Zm0-11.8Z"/></svg> <span th:text="${property.address.city}"></span></a>
                                        
                                        <a><svg width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9.025 15.175q.625-.45 1.388-.7t1.587-.25q.825 0 1.588.25t1.387.7L21.1 9.05q-1.95-1.475-4.263-2.263T12 6q-2.525 0-4.838.788T2.9 9.05l6.125 6.125Zm2.975 5.4q-.2 0-.375-.062T11.3 20.3L.7 9.7q-.3-.3-.288-.712T.725 8.3q2.35-2.125 5.238-3.213T12 4q3.175 0 6.063 1.088T23.274 8.3q.3.275.313.688T23.3 9.7L12.7 20.3q-.15.15-.325.213t-.375.062Z"/></svg> High speed WiFi</a>
                                        
                                        <a><svg width="24" height="24" viewBox="0 0 1024 1024"><path fill="currentColor" d="M275 281c19.9 0 36-16.1 36-36V36c0-19.9-16.1-36-36-36s-36 16.1-36 36v209c0 19.9 16.1 36 36 36zm613 144H768c0-39.8-32.2-72-72-72H200c-39.8 0-72 32.2-72 72v248c0 3.4.2 6.7.7 9.9c-.5 7-.7 14-.7 21.1c0 176.7 143.3 320 320 320c160.1 0 292.7-117.5 316.3-271H888c39.8 0 72-32.2 72-72V497c0-39.8-32.2-72-72-72zM696 681h-1.1c.7 7.6 1.1 15.2 1.1 23c0 137-111 248-248 248S200 841 200 704c0-7.8.4-15.4 1.1-23H200V425h496v256zm192-8H776V497h112v176zM613 281c19.9 0 36-16.1 36-36V36c0-19.9-16.1-36-36-36s-36 16.1-36 36v209c0 19.9 16.1 36 36 36zm-170 0c19.9 0 36-16.1 36-36V36c0-19.9-16.1-36-36-36s-36 16.1-36 36v209c0 19.9 16.1 36 36 36z"/></svg> Cofee & Bar</a>
                                        <ul>
                                            <li>Starting Price<br> <b><span>₹</span><span th:text="${property.price}"></span></b> / month</li>
                                            <li><a th:href="@{/api/a1/property/getProperty/{prpName}(prpName=${property.prpName})}" class="book-more-btn">Explore More</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div></div>
                    
                    
                   
                    
                </div>


                


            </div>
        </div>
        <!-- Testimonials Area End -->




</div>





       <!-- Footer Area -->
       <footer class="footer-area footer-bg">
        <div class="container">
            <div class="footer-top pt-100 pb-70">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a class="navbar-brand rentia_logo" href="\">
                                    <img src="" th:src="@{/assets/images/rentia-logo.webp}" style="border-radius:5px;" alt="Images">
                                </a>
                            </div>
                            <p>
                                Rentia is a platform that aims to make co-living accessible and convenient for everyone. The platform connects tenants with the best co-living brands in Gurugram, providing them with detailed information about different brands and their properties. This makes it easier for tenants to find a room that fits their budget and needs.
                            </p>
                            <ul class="footer-list-contact">
                                <li>
                                    <i class='bx bx-home-alt'></i>
                                    <a href="#">House no.Q20, Q1 block South City 2 gurugram harayana</a>
                                </li>
                                <li>
                                    <i class='bx bx-phone-call'></i>
                                    <a href="tel:9319144228">+91-9319144228</a>
                                </li>
                                <li>
                                    <i class='bx bx-envelope'></i>
                                    <a href="mailto:info@rentia.com">info@rentia.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget pl-5">
                            <h3>Links</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bx-caret-right'></i>
                                        About Us
                                    </a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bx-caret-right'></i>
                                        Services
                                    </a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bx-caret-right'></i>
                                        Team
                                    </a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bx-caret-right'></i>
                                        Gallery
                                    </a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bx-caret-right'></i>
                                        Terms 
                                    </a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bx-caret-right'></i>
                                        Privacy Policy
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3>Useful Links</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="\" target="_blank">
                                        <i class='bx bx-caret-right'></i>
                                        Home
                                    </a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bx-caret-right'></i>
                                        Blog
                                    </a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bx-caret-right'></i>
                                        FAQ
                                    </a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bx-caret-right'></i>
                                        Testimonials
                                    </a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bx-caret-right'></i>
                                        Gallery
                                    </a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bx-caret-right'></i>
                                        Contact Us
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3>Newsletter</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nullam tempor eget ante fringilla rutrum aenean sed venenatis .
                            </p>
                            <div class="footer-form">
                                <form class="newsletter-form" data-toggle="validator" method="POST">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Your Email*" name="EMAIL" required autocomplete="off">
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12">
                                            <button style="border: 1px solid;" type="submit" class="default-btn btn-bg-one">
                                                Subscribe Now
                                            </button>
                                            <div id="validator-newsletter" class="form-result"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copy-right-area">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="copy-right-text text-align1">
                            <p>
                                Copyright @<script>document.write(new Date().getFullYear())</script> Rentia All Rights Reserved
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="social-icon text-align2">
                            <ul class="social-link">
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->



<script src="assets/js/process-form.js"></script>

<!-- Home Page Product Tabs Start
            --------------------------------------------------------------------------------------------------->
         <script th:src="@{/assets/js/main.js}"></script>
         <script th:src="@{/assets/js/jquery.min.js}"></script>
         <!-- Bootstrap Bundle Min JS -->
         <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
         <!-- Magnific Popup Min JS -->
         <script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
         <!-- Owl Carousel Min JS -->
         <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
         <!-- Nice Select Min JS -->
         <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
         <!-- Wow Min JS -->
         <script th:src="@{/assets/js/wow.min.js}"></script>
         <!-- Jquery Ui JS -->
         <script th:src="@{/assets/js/jquery-ui.js}"></script>
         <!-- Meanmenu JS -->
         <script th:src="@{/assets/js/meanmenu.js}"></script>
         <!-- Ajaxchimp Min JS -->
         <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
         <!-- Form Validator Min JS -->
         <script th:src="@{/assets/js/form-validator.min.js}"></script>
         <!-- Contact Form JS -->
         <script th:src="@{/assets/js/contact-form-script.js}"></script>
         <!-- Custom JS -->
         <script th:src="@{/assets/js/custom.js}"></script>
         <!-- Home Page Product Tabs End
--------------------------------------------------------------------------------------------------->

</body>

</html>